.block-compare
{
	height:100%;
	width:60%;
	float:left;
	
	display:flex;
	align-items:center;
	justify-content:center;
}
.block-compare>div
{
	padding:15px;
	border-radius:9px;
	width:80%;
	height:80%;
	background-color: #f7f7f76e;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

}
.block-compare>div>div
{
	display:flex;
	align-items:center;
	padding-left:15px;
	box-sizing:border-box;
}
.block-compare>div>*
{
	float:left;
	width:calc(33.3333% - 10px);
	height:40px;
	margin:5px;
}


.block-canvas-c
{
	    width: 60vh;
    height: 30vh;
    float: left;
}

#myChart
{
	    background-color: #f7f7f76e;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    display: block;
    width: 581px;
    height: 581px;
    margin: 100px;
}