.block-main
{
	height:70%;
	width:100%;

}
.block-main>.title
{
	height:15%;
	width:100%;
	text-align:center;
	
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block-main>.title>.title
{
	font-weight:600;
	color:#8bbbef;
	font-size:35px;
}
.block-main>.title>.text
{
	font-weight:400;
	color:gray;
	font-size:21px;
}

.block-main>.navigation
{
	height:70%;
	width:100%;
	
	display:flex;
	align-items:center;
	justify-content:center;
	
}
.block-main>.navigation>div
{
	position:relative;
	
	height:250px;
	width:250px;
	margin:0 15px;
	
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	background-color:white;
	border-radius:23px;
	
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.block-main>.navigation>div>img
{
	height:40px;
	margin-bottom:20px;
}
.block-main>.navigation>div>span
{
	font-size:23px;
	font-weight:400;
	color:gray;
}
.block-main>.navigation>div>a
{
	position:absolute;
	top:0;
	left:0;
	
	height:100%;
	width:100%;
}

.block-background-main
{
	
	bottom:0;
	left:0;
	right:0;
	height:25%;
	width:100%;
	
	display:flex;

	align-items:center;
	justify-content:center;
}
.block-background-main>div
{
	
	
	height:100%;
	width:20%;
}
.block-background-main>div>img
{
	height:100%;
}