
{% extends "base.html" %}

{% block content %}

	<div class = "block-compare">
		<div>
			<div>team1s</div>
			<input placeholder = "{{ name_1 }}" readonly></input>
			<input placeholder = "{{ name_2 }}" readonly></input>
			
			<div>Matches</div>
			<input placeholder = "{{ team1.Matches }}" readonly></input>
			<input placeholder = "{{ team2.Matches }}" readonly></input>
			
			<div>Wins</div>
			<input placeholder = "{{ team1.Win }}" readonly></input>
			<input placeholder = "{{ team2.Win }}" readonly></input>
			
			<div>Draws</div>
			<input placeholder = "{{ team1.Draw }}" readonly></input>
			<input placeholder = "{{ team2.Draw }}" readonly></input>
			
			<div>Losses</div>
			<input placeholder = "{{ team1.Loss}}" readonly></input>
			<input placeholder = "{{ team2.Loss}}" readonly></input>
			
			<div>Goal for:</div>
			<input placeholder = "{{ team1.FTHG + team1.FTAG }}" readonly></input>
			<input placeholder = "{{ team2.FTHG + team2.FTAG }}" readonly></input>

			
			<div>Goal against</div>
			<input placeholder = "{{ team1.HTHG + team1.HTAG }}" readonly></input>
			<input placeholder = "{{ team2.HTHG + team2.HTAG }}" readonly></input>

			
			<div>Shots</div>
			<input placeholder = "{{ team1.HS + team1.AS }}" readonly></input>
			<input placeholder = "{{ team2.HS + team2.AS }}" readonly></input>

			
			<div>Shots on Target</div>
			<input placeholder = "{{ team1.HST + team1.AST }}" readonly></input>
			<input placeholder = "{{ team2.HST + team2.AST }}" readonly></input>

			
			<div>Fouls</div>
			<input placeholder = "{{ team1.AF + team1.HF }}" readonly></input>
			<input placeholder = "{{ team2.AF + team2.HF }}" readonly></input>

			
			<div>Corners</div>
			<input placeholder = "{{ team1.HC + team1.AC }}" readonly></input>
			<input placeholder = "{{ team2.HC + team2.AC }}" readonly></input>

			
			<div>Yellow Cards</div>
			<input placeholder = "{{ team1.HY + team1.AY }}" readonly></input>
			<input placeholder = "{{ team2.HY + team2.AY }}" readonly></input>

			
			<div>Red Cards</div>
			<input placeholder = "{{ team1.HR + team1.AR }}" readonly></input>
			<input placeholder = "{{ team2.HR + team2.AR }}" readonly></input>

		</div>
	</div>
	
{% endblock %}