
{% extends "base.html" %}

{% block content %}
		<div class = "block-find-match">
			<div>
				<div class = "block-background-selector">
					<div class = "title">
						<span>Search parameter:</span>
					</div>
					<div class = "block-selector">
						<input id = "Date-time" datetime="2012-12-23" type="date" class = "size-1">
						<input id = "FullTimeResult" class = "size-1" placeholder = "Full Time Result">
						<input id = "HalfTimeResult" class = "size-1" placeholder = "Half Time Result">
						
						<input id = "referee" class = "size-1" placeholder = "Referee">
						
						<input id = "team1" class = "size-2" placeholder = "Teams #1">						
						<input id = "team2" class = "size-2" placeholder = "Teams #2">	

						<input id = "FullTimeGoals1" class = "size-2" placeholder = "Full Time Goals">						
						<input id = "FullTimeGoals2" class = "size-2" placeholder = "Full Time Goals">						
						
						<input id = "HalfTimeGoals1" class = "size-2" placeholder = "Half Time Goals">						
						<input id = "HalfTimeGoals2" class = "size-2" placeholder = "Half Time Goals">	
						
						<input id = "Shorts1" class = "size-2" placeholder = "Shorts">	
						<input id = "Shorts2" class = "size-2" placeholder = "Shorts">	
						
						<input id = "ShortsOnTarget1" class = "size-2" placeholder = "Shorts On Target">	
						<input id = "ShortsOnTarget2" class = "size-2" placeholder = "Shorts On Target">	
						
						
						<input id = "FoulsCommitted1" class = "size-2" placeholder = "Fouls Committed">
						<input id = "FoulsCommitted2" class = "size-2" placeholder = "Fouls Committed"> 
						
						<input id = "Corners1" class = "size-2" placeholder = "Corners">	
						<input id = "Corners2" class = "size-2" placeholder = "Corners">	
						
						<input id = "YellowCards1" class = "size-2" placeholder = "Yellow Cards">
						<input id = "YellowCards2" class = "size-2" placeholder = "Yellow Cards">
						
						<input id = "RedCards1" class = "size-2" placeholder = "Red Cards">
						<input id = "RedCards2" class = "size-2" placeholder = "Red Cards">
						

					</div>
					<div class = "find">
						<button id = "find-match">Find</button>
					</div>
				</div>
			</div>
			<div>
				<div class = "block-background-search">
					<div class = "title">
						<span>List of mathces</span>
					</div>
					<div class = "search">
						
						<div>
							<div>
								<a href = "#"></a>
								<span>Team 1</span>
							</div>
							<div>
								<a href = "#"></a>
								<img src = "{{ url_for('static', filename = 'img/ico/versus.svg')}}">
							</div>
							<div>
								<a href = "#"></a>
								<span>Team 2</span>
							</div>
						</div>
						
						
					</div>
					<div class = "back">
						<button>Back to Menu</button>
						<a href = "#"></a>
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}